PORT=3000
NODE_ENV="development"

DATABASE_URL="mysql://root:your_mysql_password@localhost:3306/toeicapp"
DATABASE_USER="root"
DATABASE_PASSWORD="your_mysql_password"
DATABASE_NAME="toeicapp"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

# Email service
EMAIL_USER="your-email@gmail.com"
EMAIL_PASS="your-gmail-app-password"

# JWT secrets
JWT_ACCESS_SECRET="your-access-secret-key"
JWT_REFRESH_SECRET="your-refresh-secret-key"
